<div id="appinfo">
  <h1>myE&T</h1>
  <div id="context">
    <p>My E&T (My Effort and Time) is designed to be an application integrated with personal planner, project tracker and effort and time summarizer. It will help users planning and tracking their short-term and long-term projects and goals, while tracking the outcome of users time usage and effort to provide statistic insides. <br><br>
    My E&T shares the idea with hobonichi and spiraldex with which people hand write their plan and record their status (good and bad things) during their activities, and further optimize their plan, method and habit based on their self feedback. However, handing writing could be quite a work. Moreover, the most valueable feedback statistic need even more work to pull it out.</p>
  </div>
</div>


<div class="authdiv">

  <div class="authlinks">
    <a href="/auth/login">
      <div class="lighttab" style='background: rgba(245, 245, 245, 0.603);'>Login</div>
    </a>
    <a href="/auth/signup">
      <div class="lighttab">Signup</div>
    </a>
  </div>
  <% include ../partials/alerts %>
  <form action="/auth/login" method="POST">
    <div class="form-group">
      <label for="authEmail">Email:</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label for="authPassword">Password:</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>

    <div id="button">
      <input class="btn btn-primary" type="submit" value='Login'>
    </div>
  </form>
</div>



