<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myE&T</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- body%>
  </body>
</html>
