<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myE&T</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
    <div id="headerdate">
      <% var day = moment();%>
      <h5>
        Week <%=moment().week()%>, <%= moment().format('dddd')%>, <%=moment().format('ll')%>
      </h5>

    </div>

    <nav>
      <h5>
      <a href="/">Home</a> |
      <%if (currentUser) { %>
        <a href="/auth/logout">Logout</a> |
        <a href="/profile">Profile</a>
      <%} else {%>
        <a href="/auth/signup">Signup</a> |
        <a href="/auth/login">Login</a>
      <%}%>
      </h5>
    </nav>
    </header>

    <div class="container">
      <h1>myE&T</h1>
      <% JSON.stringify(currentUser) %>
      <% include partials/alerts %>
      
      <main>
        <%- body %>
      </main>
      <div class="tablinkcontainer">
        <div class="tablink">
          <a href="/dailytasks">Today</a>
        </div>
        <div class="tablink">
          <a href="/summaries">Summaries</a>
        </div>
      </div>
    </div>


    <div id="hiddenfooter">
    </div>
    <footer>
      <div id="copyright">
      </div>
    </footer>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
