body { 
  position: relative;
  background: url('/img/background3.png');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'dreamwood';
  font-size: 3.5vw;
  font-style: italic;
  color: #6860d7;
}
h4 {
  margin-top: 1vh;
}
#appinfo {
  position: absolute;
  width: 35vw;
  min-height: 36vh;
  left: 10vw;
  top: 16vh;
  /* border: #2d2d2d solid 0.4vw; */
  padding: 0 0.8vw 0.4vw 1vw;
  border-radius: 1vw;
  background: rgba(240, 240, 240, 0.801);
  /* color: white; */
}

#context {
  width: 95%;
  margin: auto;
  text-align: justify;
}
.authdiv {
  position: absolute;
  min-width: 30vw;
  min-height: 40vw;
  right: 10vw;
  top: 12vh;
  /* border: black solid 2px; */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
}

.authdiv a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 24px;
}

.authlinks {
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  /* border-bottom: rgba(230, 230, 230, 0.658) solid 3px; */
}

.authlinks div {
  min-width: 15vw;
  text-align: center;
  padding:1vw 0;
}
/* .authlinks a:first-child div {
  border-right: rgba(230, 230, 230, 0.658) solid 3px;
} */

.alert {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  margin-top: 5px;
}
.form-group {
  padding: 0.8vw 0;
}

label {
  font-size: 20px;
  font-weight: 1000;
  line-height: 24px;
}

#button {
  /* border: black solid 2px; */
  margin-top: 50px;
  position: absolute;
  right: 5%;
}

