.subcontainer {
  display: flex;
}

#weektasks {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(7, 1fr)
}

#weektasks div {

}
#weektasks div a:first-child {
  text-align: center;
}

#weektasks a {
  display: block;
  padding: 0.3%;
}

#habit {
  width: 20%;
}