<% include ../partials/summariesheadtabs%>
<% include ../partials/summariesdaterange%>


<div id="summarycharts">
  <table class="columns">
      <tr>
        <td><div id="chart1" style="border: 1px solid #ccc"></div></td>
        <td><div id="chart2" style="border: 1px solid #ccc"></div></td>
      </tr>
    </table>
  </div>
</div>

