<link rel="stylesheet" href="/css/summaries.css">
<% include ../partials/summariesdaterange%>
<br>
Select a date range to continue

<div id="summarycharts">
  <table class="columns">
      <tr>
        <td><div id="chart1" style="border: 1px solid #ccc"></div></td>
        <td><div id="chart2" style="border: 1px solid #ccc"></div></td>
      </tr>
    </table>  
</div>

